{
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "globals": {
    "document": "readonly",
    "window": "readonly",
    "it": "readonly"
  },
  "rules": {
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".jsx",
          ".tsx"
        ]
      }
    ]
  }
}